<div class="container-fluid">

    <div class="row page-header col-lg-12">
        <h1>Listado de contenedores</h1>
    </div>

    <div class="row col-lg-12">
        <div ng-show="errorResponse.show" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{{ errorResponse.title }}</h3>
            </div>
            <div class="panel-body">
                {{ errorResponse.message }}
            </div>
        </div>
    </div>


    <div class="row col-lg-12">
        <button class="btn btn-default pull-right" ui-sref="containers.new">Informar contenedor</button>
    </div>

    <div class="row hidden-print" ng-hide="errorResponse.show">
        <div class="col-lg-12">
            <div class="input-group top-gap">
                <input type="text" class="form-control" ng-model="search" placeholder="Buscar">
                <span class="input-group-btn"><button class="btn btn-default" ng-click="search = ''"><span class="glyphicon glyphicon-remove-circle"></span></button></span>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table ng-hide="errorResponse.show" class="table col-lg-12 top-gap">
            <thead>
            <tr>
                <th>Terminal</th>
                <th>Buque</th>
                <th>Viaje</th>
                <th>Contenedor</th>
                <th>Conocimiento</th>
                <th>Fecha devolución</th>
                <th>Lugar devolución</th>
                <th>Razón social</th>
                <th>CUIT</th>
                <th>Estado</th>
                <th>Fecha alta</th>
                <th>Usuario</th>
            </tr>
            </thead>
            <tbody ng-repeat="data in filteredData = (dataContainers | filter:search) | startFrom:(pagination.currentPage-1)*pagination.itemsPerPage | limitTo:pagination.itemsPerPage track by $index" ng-class="data.ANIMATE ? 'animated animated-row' : ''">
            <tr ng-click="showDetail($index)" class="parent-row">
                <td>{{ data.TERMINAL }}</td>
                <td>{{ data.SHIP }}</td>
                <td>{{ data.TRIP }}</td>
                <td>{{ data.CONTAINER }}</td>
                <td>{{ data.BL }}</td>
                <td>{{ data.RETURN_TO[0].DATE_TO | date: 'dd/MM/yyyy' }}</td>
                <td>{{ data.RETURN_TO[0].PLACE }}</td>
                <td>{{ data.CLIENT[0].COMPANY }}</td>
                <td>{{ data.CLIENT[0].CUIT }}</td>
                <td class="{{ data.STATUS[0].STATUS | containerClass }}" >{{ data.STATUS[0].STATUS | containerStatus }}</td>
                <td>{{ data.STATUS[0].AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ data.STATUS[0].AUD_USER }}</td>
            </tr>
            <tr ng-repeat="detail in data.RETURN_TO" ng-init="data.SHOW = false" ng-show="data.SHOW" class="child-row">
                <td colspan="5" class="text-right text-bold"><span class="glyphicon glyphicon-edit"></span> Lugar y fecha de devolución</td>
                <td>{{ detail.DATE_TO | date: 'dd/MM/yyyy' }}</td>
                <td>{{ detail.PLACE }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ detail.AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ detail.AUD_USER }}</td>
            </tr>
            <tr ng-repeat="detail in data.CLIENT" ng-show="data.SHOW" class="child-row">
                <td colspan="7" class="text-right text-bold"><span class="glyphicon glyphicon-edit"></span> Cliente</td>
                <td>{{ detail.COMPANY }}</td>
                <td>{{ detail.CUIT }}</td>
                <td></td>
                <td>{{ detail.AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ detail.AUD_USER }}</td>
            </tr>
            <tr ng-repeat="detail in data.STATUS track by $index" ng-show="data.SHOW" class="child-row">
                <td colspan="9" class="text-right text-bold"><span class="glyphicon glyphicon-edit"></span> Estado del contenedor</td>
                <td class="{{ data.STATUS[$index].STATUS | containerClass }}">{{ detail.STATUS | containerStatus }}</td>
                <td>{{ detail.AUD_TIME | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ detail.AUD_USER }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 hidden-print hidden-xs" ng-show="filteredData.length > pagination.itemsPerPage">
        <div class="text-center"><uib-pagination class="pagination" boundary-link-numbers="true" rotate="false" total-items="filteredData.length" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage" previous-text="<" next-text=">" first-text="<<" last-text=">>" max-size="20"></uib-pagination></div>
    </div>
    <div class="col-lg-12 hidden-print visible-xs" ng-show="filteredData.length > pagination.itemsPerPage">
        <pager total-items="totalItems" ng-model="currentPage" previous-text="<< Anterior" next-text="Siguiente >>"></pager>
    </div>

    <div ui-view></div>

</div>