<div class="container vertical-center col-lg-12">
    <div class="col-lg-6 col-lg-offset-6">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="input-group col-lg-9">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input type="text" class="form-control" ng-model="email" placeholder="Ingresar usuario" ng-required="true" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-lg-9">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input type="password" class="form-control" ng-model="password" id="inputPassword" placeholder="Ingresar contraseña" ng-required="true" autocomplete="off">
                    </div>
                </div>
                <div class="form-group text-right col-lg-9">
                    <a href class="col-lg-offset-1">¿Olvidó su contraseña?</a>
                </div>
                <div class="form-group hidden-xs">
                    <br>
                    <div class="col-sm-4 text-center">
                        <input type="checkbox" ng-model="sesion">No cerrar sesión
                    </div>
                    <div class="col-sm-5 text-right">
                        <button type="submit" class="btn btn-primary" ng-disabled="entrando"><span class="glyphicon glyphicon-log-in"></span> Ingresar</button>
                        <button type="button" ui-sref="changepass" class="btn"><span class="glyphicon glyphicon-lock"></span> Cambiar contraseña</button>
                    </div>
                </div>
                <div class="form-group visible-xs">
                    <div class="col-xs-12">
                        <div><input type="checkbox" ng-model="sesion">No cerrar sesi&oacute;n</div>
                        <div><button type="submit" class="btn btn-primary" ng-disabled="entrando"><span class="glyphicon glyphicon-log-in"></span> Ingresar</button></div>
                        <div><button type="button" ui-sref="changepass" class="btn"><span class="glyphicon glyphicon-lock"></span> Cambiar contraseña</button></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>