doctype html
html(lang='fr')
   head
      title Servicio Libre Deuda Electrónico
   body(style="font-family: 'Open Sans',sans-serif; font-size: 12px, background-color:white")
      table
         tr
            td
               img(style="max-height:200px;max-width:200px" src="http://terminales.puertobuenosaires.gob.ar/images/logoPuerto.png")
            td
               h1(style="font-family: inherit; font-weight: 400; font-size: 25px; line-height: 1.1; color: #0099d7;") &nbsp;Servicio Libre Deuda Electrónico
      p Ud. a solicitado un usuario para utilizar los servicios de Libre Deuda Electrónico.
      p
         b Razón Social:&nbsp;
         span #{company}
      p
         b Usuario:&nbsp;
         span #{email}
      p
         b Clave:&nbsp;
         span #{password}
      br
      p Para proceder a la aprobación de la cuenta haga click &nbsp;
         - var ww = url + '/validate/token?salt=' + token;
         a(href=ww) aquí
      p
         span(style="color:red") Importante:&nbsp;
         span &nbsp;Recibirá un nuevo correo electrónico una vez que la cuenta haya sido aprobada por el Administrador del Sistema.