doctype html
html(lang='fr')
   head
      title Servicio Libre Deuda Electrónico
   body(style="font-family: 'Open Sans',sans-serif; font-size: 12px, background-color:white")
      table
         tr
            td
               img(src="http://terminales.puertobuenosaires.gob.ar/images/logo.png")
            td
               h1(style="font-family: inherit; font-weight: 400; font-size: 30px; line-height: 1.1; color: #0099d7;") &nbsp;Servicio Terminales Portuarias
      p Ud. a solicitado un usuario para utilizar los servicios de Libre Deuda y Control Pre Gate Electrónicos.
      p
         b Compañia:&nbsp;
         span #{company}
      p
         b CUIT:&nbsp;
         span #{cuit}
      p
         b Contanto:&nbsp;
         span #{firstname} #{lastname}
      br
      p
         span(style="color:red") Importante:&nbsp;
         span &nbsp;Administración General de Puertos verificará los datos enviados y procederá a la aprobación del usuario enviando un mail de notificación.